community-apps/build
community-apps/export
community-apps/version
community-apps/Makefile.local
community-apps/packer/update_metadata.log
community-apps/packer/*/*-context.iso
community-apps/appliances/UERANSIM/UERANSIM
marketplace/appliances/*
!marketplace/appliances/

.vscode/